@import "../../variable.scss";


.comparerow {
  border-bottom: 1px solid silver;
  & > div {
    border-right: 1px solid silver;
  }
}
// .font-32 {
//   @media (min-width: 1640px) {
//     font-size: 32px;
//   }
//   @media (min-width: 1200px) and (max-width: 1639px) {
//     font-size: 24px;
//   }
//   @media (max-width: 1199px) {
//     font-size: 20px;
//   }
// }

// h4 {
//   font-family: "BebasNeueRegular";
//   font-weight: normal;
//   @media (min-width: 1640px) {
//     font-size: 42px;
//   }
//   @media (min-width: 1200px) and (max-width: 1639px) {
//     font-size: 38px;
//   }
//   @media (max-width: 1199px) {
//     font-size: 30px;
//   }
// }

.img-body {
  .title {
    margin-top: 5px;
    line-height: 35px;
    @media (min-width: 1640px) {
      font-size: 28px;
    }
    @media (min-width: 1200px) and (max-width: 1639px) {
      font-size: 22px;
    }
    @media (max-width: 1199px) {
      font-size: 18px;
    }
    @media (min-width: 767px) and (max-width: 776px) {
      font-size: 16px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

// .price {
//   p {
//     @media (min-width: 1640px) {
//       font-size: 36px;
//       font-weight: 500;
//     }
//     @media (min-width: 1200px) and (max-width: 1639px) {
//       font-size: 27px;
//       font-weight: 500;
//     }
//     @media (max-width: 1199px) {
//       font-size: 28px;
//     }
//   }
// }

.crossed-price {
  text-decoration-line: line-through;
  text-decoration-color: $bgc-red;
}

.img-fluid {
  width: 100%;
  height: auto;
}
.img-holder {
  position: relative;
  .btn-close {
    position: absolute;
    top: 9px;
    right: 9px;
    color: $txt-red;
    font-weight: normal;
    padding: 1px 8px;
    font-size: 18px;
    border: 1px solid $bgc-red;
    border-radius: 50%;
  }
}

.img-body {
  padding-bottom: 20px;
  .row {
    border: none;
    & > div {
      border: none;
      &:nth-last-child(2) {
        border-right: 1px solid silver;
      }
    }
  }
}
ul {
  padding-top: 0px;
  li {
    //line-height: 38px;
    list-style: none;
    color: $txt-grey;

    font-family: "dejavu_sansbook";
    font-weight: normal;
    @media (min-width: 1640px) {
      font-size: 24px;
    }
    @media (min-width: 1200px) and (max-width: 1639px) {
      font-size: 18px;
    }
    @media (max-width: 1199px) {
      font-size: 16px;
    }
  }
}
div.compare {
  position: fixed;
    color: $txt-white;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 152px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.35);
    padding-bottom: 0px;
  .sections {
    // margin-top: 15px;
    padding: 12px;
    .mini-close {
      font-weight: normal;
      padding: 1px 8px;
      font-size: 12px;
      border: 1px solid $txt-white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 6px;
      top: 6px;
    }
    table {
      tr {
        td {
          color: $txt-grey;
          font-family: "dejavu_sansbook";
          font-weight: normal;
          @media (min-width: 1640px) {
            font-size: 24px;
          }
          @media (min-width: 1200px) and (max-width: 1639px) {
            font-size: 18px;
          }
          @media (max-width: 1199px) {
            font-size: 16px;
          }
        }
      }
    }
  }
  .row {
    border: none;
    & > div {
      border: none;
    }
  }
  
  .mini-close {
    color: grey;
    font-weight: normal;
    padding: 1px 8px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 6px;
    top: 6px;
    
  }

  .mini-close-right{
    position: absolute;
    background: transparent;
    z-index: 1;
    top: 9px;
    right: 9px;
    padding: 0;
    img{
      width: 30px;
      height: 30px !important;
    }
  }

  .mini-close-display-none {
    display: none;
  }

  .btn-compare {
    font-weight: bold;
    color: $txt-grey;
    font-size: 12px;
  }
}

@media (max-width: 523px) {
  .img-holder {
    margin-top: 18px;
  }
  ul {
    padding-left: 0;
    padding-right: 0;
    li {
      font-size: 13px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

#btn-cart {
  font-family: "dejavu_sansbook";
  font-weight: normal;
  @media (min-width: 768px) {
    font-size: 28px;
    padding: 10px 30px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1124px) {
    font-size: 22px;
  }
  @media (min-width: 767px) and (max-width: 838px) {
    font-size: 18px;
  }
}
.btn-top-compare {
  font-family: "dejavu_sansbook";
  font-weight: normal;
  @media (min-width: 1640px) {
    font-size: 20px !important;
  }
  @media (min-width: 1200px) and (max-width: 1639px) {
    font-size: 18px !important;
  }
  @media (max-width: 1199px) {
    font-size: 18px !important;
  }
}
#close-button-compare {
  position: absolute;
  top: 17px;
  right: 17px;
  background: transparent;
  border: 1px solid gray;
  padding: 0px;
  width: 25px;
  height: 25px;
}
.pb-50 {
  padding-bottom: 50px;
}

.wrapper {
  padding-bottom: 100px;
  overflow-x: hidden;
}

// Slider

@mixin pricelabel() {
  color: $txt-red;
  padding-bottom: 8px;
  font-weight: bolder;
}

.slider-heading {
  // margin-top: 0;
  // text-align: center;
  // margin-bottom: 30px;
  // h2 {
  //   color: $txt-red;
  // }
}

.sections {
  // padding: 0 15px;
  outline: none;
  @media (max-width: 350px) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
  }
  &:hover {
    transition: 0.1s;
    border: none;
    cursor: pointer;
  }
  .sections-img {
    height: 81%;
  }
}

// h2 {
//   font-family: "BebasNeueRegular";
//   font-weight: normal;
//   @media (min-width: 1640px) {
//     font-size: 60px;
//   }
//   @media (min-width: 1200px) and (max-width: 1639px) {
//     font-size: 50px;
//   }
//   @media (max-width: 1199px) {
//     font-size: 30px;
//   }
// }

.description {
  text-align: center;
  padding: 10px 12px 0 12px;
  color: $txt-grey;
  background-color: $bgc-lightgrey;
  // p {
  //   margin-bottom: 0;
  // }
  .price-label {
    @include pricelabel();
  }
}

.wrapper {
  padding-bottom: 50px;
}

.sections-img {
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  transition: all 0.5s;
  justify-content: center;
}

#left {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  z-index: 999;
  background: transparent;
  border: none;
  color: grey;
}
#right {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  z-index: 999;
  background: transparent;
  border: none;
  color: grey;
}

.holder-img1 {
    animation: anim 1s;
    max-width: 25%;
    position: relative;
    margin-right: 25px;
    &:last-child {
      margin: 0
    }
  .item-contaner {
    background: #fff;
    border: 1px solid #fff;
    padding: 0 18px;
  }
  .imgholder{
    width:80px;
    height:100px;
  }
  img {
    height: 100%;
    object-fit: contain;
  }

  @media screen and (max-width: 1050px) {
    max-width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  @media screen and (max-width: 650px) {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transition: transform 1s ease;
  }
}

.img-resp {
  width: 100%;
}

.mini-desc {
  font-size: 14px;
}

.custom-btn {
  font-family: "dejavu_sansbook";
  font-weight: normal;
  background: white;
  color: $txt-red;
  border: 1px solid $txt-red;
  border-radius: 8px;
  padding: 10px 30px;
  transition: 0.3s ease;
  &:hover {
    background: $txt-red;
    color: white;
  }
}

.compare-side {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  transition: all .5s ease;
  @media (min-width: 768px)
  {
    width: 100%;
    z-index: 10;
  }
  @media (min-width: 1250px)
  {
      width: 100%;
      z-index: 10;
  }
  .compare-side-blur.blur {
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
    background: rgba(10,50,81,0);
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 30px;
  }

  .compare-button {
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.8px;
    text-align: left;
    color: $txt-white;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: auto;
    background-color: $txt-red;
    border-radius: 7px 7px 0px 0px;
    cursor: pointer;
    @media (min-width:768px) {
      width: 130px;
      position: absolute;
      top: -37px;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;  
    }
    // @media (min-width:1250px) {
    //   width: 130px;
    //   position: absolute;
    //   top: -37px;
    //   left: 0;
    //   right: 0;
    //   margin: 0 auto;
    //   text-align: center;  
    // }
    @media (min-width:1280px) and (max-width:1440px) {
      position: absolute;
      top: -38px;
    }
    .rotated {
      font-weight: normal;
      text-align: center;
      padding: 10px;
      width: 130px;
    }
    .compare-arrow {
      background-image: url("https://d278b6t7sxzrhn.cloudfront.net/angular-assets/images/compare-arrow.svg");
      width: 15px;
      height: 11px;
      display: block;
      position: absolute;
      background-size: cover;
      overflow: hidden;
      transform: rotateZ(0deg);
      right: 10px;
      margin: auto;
      bottom: 15px;
    }
  }

  .compare-content-b {
    width: 100%;
    height: 127px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    @media (min-width:768px) {
      padding-right: 200px;
      padding-left: 15px;
      display: flex;
      padding-top: 0;
      border-top-left-radius: 0;
    }
    @media (min-width:1024px) {
      padding-right: 200px;
      padding-left: 15px;
      display: flex;
      padding-top: 0;
      border-top-left-radius: 0;
    }
    @media (min-width:1250px) {
      padding-right: 200px;
      padding-left: 15px;
      display: flex;
      padding-top: 0;
      border-top-left-radius: 0;
    }
    .product-group{
      width: 70%;
      @media (min-width:768) {
        // width: 85%;
        width: auto;
      }
      @media (min-width:1920) {
        width: 60%;
      }
      .comp-product {
        height: 88px;
        border-radius: 4px;
        background-color: #fff;
        display: flex;
        align-items: center;
        position: relative;
        border: 1px dashed #fff;
        @media (min-width:768px) {
          margin-right: 20px;
          margin-bottom: 0px;
          width: 180px;
          float:left;
        }
        @media (min-width:1024px) {
          margin-right: 20px;
          margin-bottom: 0px;
          width: 180px;
          float:left;
        }
        @media (min-width:1250px) {
          margin-right: 20px;
          margin-bottom: 0;
          width: 224px;
          float:left;
        }
        @media (min-width:1280px) and (max-width:1440px) {
          margin-right: 20px;
          margin-bottom: 0;
          width: 224px;
          float:left;
        }
        &.add-product-button {
          background: rgba(0, 0, 0,.5) !important;
          color: $txt-white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-color: $txt-red !important;
        }
        .comp-product-remove {
          position: absolute;
          background: #fff;
          border-radius: 50%;
          background-image: url("https://d278b6t7sxzrhn.cloudfront.net/angular-assets/images/close-red.svg");
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
          @media (max-width:768px) {
            width: 25px;
            height: 25px;
            left: -14px;
            background-size: 9px !important;
          }
          @media (min-width:1024px) {
            width: 25px;
            height: 25px;
            left: -14px;
            background-size: 9px !important;
          }
          @media (min-width:1250px) {
            width: 20px;
            height: 20px;
            left: -10px;
            background-size: 6px !important;
          }
        }
        .comp-product-img {
          width: 80px;
          height: 65px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          margin-left: 7px;
          margin-right: 6px;
        }
        .comp-product-inf {
           width: 70%;
           span {
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            display: block;
            text-align: left;
            &:first-child {
              font-size: 11px;
              line-height: 1.27;
              letter-spacing: normal;
              color: $txt-darkgrey;
              
            }
            &:last-child {
              font-size: 14px;
              line-height: 1.14;
              letter-spacing: normal;
              color: $txt-red;
              margin-top: 7px;
            }
           }
        }
      }
    }
    .comp-product-start {
      border-radius: 4px;
      background-color: $txt-red;
      box-shadow: 0 3px 6px 0 rgba(0,0,0,.07);
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: $txt-white;
      text-align: center;
      padding: 0 8px;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      @media (min-width:768px) {
        width: 104px;
        height: 88px;
        float: right;
        margin-right: 0;
        margin-bottom: 0;
      }
      // @media (min-width:1280px) and (max-width:1440px) {
      //   width: 104px;
      //   height: 88px;
      //   float: right;
      //   margin-right: 0;
      //   margin-bottom: 0;
      // }
    }
    .c-circle-right {
      width: 38px;
      height: 38px;
      background-color: $txt-red;
      border-radius: 50%;
      position: absolute;
      top: calc(38px/2*-1);
      right: 2%;
      background-image: url("https://d278b6t7sxzrhn.cloudfront.net/angular-assets/images/down-white.png");
      background-size: cover;
      background-size: 9px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    .comp-product-clear-btn {
      font-size: 10px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: normal;
      text-align: left;
      color: $txt-white;
      text-decoration: underline;
      position: absolute;
      cursor: pointer;
      @media (min-width:768px) {
        // right: inherit;
        // left: 30px;
        // margin-top: 11px;
        display: inline-block;
        position: absolute;
        right: 100px;
      }
      @media (min-width:1250px) {
        right: 120px;
        left: inherit;
        margin-top: 0;
      }
    }
  }
}

// .compare_pop_up {
//   .popup-close {
//     cursor: pointer !important;
//     background: $txt-red;
//     display: flex;
//     z-index: 2;
//     width: 33px;
//     height: 33px;
//     border-radius: 5px;
//     transform: skewX(-8deg);
//     align-items: center;
//     justify-content: center;
//     right: -10px;
//     position: absolute;
//     top: -10px;
//     img {
//       width: 15px;
//     }
//     &:hover {
//       cursor: pointer;
//     }
//   }
//   .p-search {
//     border-radius: 4px;
//     background-color: $txt-extralightgrey;
//     border: solid 1px $txt-lightgrey;
//     width: 100%;
//     font-size: 12px;
//     font-weight: 500;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: 1.17;
//     letter-spacing: normal;
//     text-align: left;
//     color: $txt-darkgrey;
//     padding: 17px 22px;
//   }
// } 

.custom-compare-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  top: 0;
  left: 0;
  z-index: 1500;
  .popup-container {
    height: fit-content;
    border-radius: 5px;
    background-color:$bgc-white;
    box-shadow: 0 3px 16px 0 rgba(10,50,81,.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @media (min-width: 768px) {
      width: 600px;
    }
    @media  (max-width: 480px) {
      width: 90%;
    }
    .popup-close {
      width: 33px;
      height: 33px;
      border-radius: 5px;
      background-color: $txt-red;
      transform: skewX(-8deg);
      display: flex;
      align-items: center;
      justify-content: center;
      right: -10px;
      position: absolute;
      top: -10px;
      cursor: pointer;
      .cls {
        background-image: url('https://d278b6t7sxzrhn.cloudfront.net/angular-assets/images/close-white.svg');
        background-size: 11px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        transform: skewX(8deg);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-position: center;
      }
    }
    .popup-body {
      padding: 40px 39px;
      @media  (max-width:480px) {
        padding: 20px 19px;
      }
      h3 {
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: $txt-red;
      }
      .p-search {
        border-radius: 4px;
        background-color: $txt-extralightgrey;
        border: solid 1px $txt-lightgrey;
        width: 100%;
        margin-top: 30px;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: $txt-darkgrey;
        padding: 17px 22px;
      }
      .result-set-wrapper {
        padding: 0;
        max-height: 200px;
        overflow-y: scroll;
        margin: 15px 0;
        .search-item {
          display: flex;
          margin-bottom: 10px;
          cursor: pointer;
          &:last-child {
            margin-bottom: 0px;
          }
          .image {
            display: flex;
            width: 10%;
            box-sizing: border-box;
            img {
              width: 100%;
              border: 1px solid $txt-extralightgrey;
              border-radius: 5px;
            }
          }
          .content {
            width: 90%;
            display: flex;
            padding: 0px 15px;
            align-items: center;
            box-sizing: border-box;
            p {
              margin-bottom: 0;
              width: 100%;
              font-size: 14px !important;
              box-sizing: border-box;
              &.title {
                padding-right:10px;
              }
              &.price {
                width: auto;
                text-align: right;
                min-width: 80px;
              }
            }
          }
        }
      }
    }
  }
}

.comp-product{
  margin-top:0.4rem;
  // width: auto !important;
}
.compare-content-b{
  padding-top: 0.7rem;
}
.comp-product-start{
  margin-top:0.7rem;
}
