@import "../../variable.scss";

hr {
    margin-top: 1rem;
    margin-bottom: 1px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

// .hideSection {
//     position: absolute;
//     top: 25px;
// }


.mobileVideos {
  display: none;
}

 .video iframe {
    width: 95%;
    margin-left: 15px;
  }
  .video_wrapper{
    padding:0px;
    margin-top: 20px;
  }

.fl-icon-facebook{
  margin:4px;
}
.groupSocailMedia-custome {
  padding: 8px;
}
.groupSocailMedia-custome .sh-icon{
  float: right;
}
.crossed-price {
  text-decoration-color: $txt-red;
  text-decoration-line: line-through;
}
.showhide{
  margin-top:-20px;
}
.center_video_title{
  // text-align: center;
  margin-left: 15px;
}

.groupSocailMedia.float-right a:last-child{
  color: #A0A0A0 !important;
  margin-left:20px;
}
.price-section {
  font-family: "dejavu_sansbook" !important;
  font-family: normal;
  @media (min-width: 1640px) {
    font-size: 20px;
  }
  @media (min-width: 1200px) and (max-width: 1639px) {
    font-size: 20px;
  }
  @media (max-width: 1199px) {
    font-size: 20px;
  }
}

.description {
  .button-section {
    margin-top: 60px;
    margin-bottom: 45px;
  }
}
.tab-links a {
  text-decoration: none;
  color: #A0A0A0;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

span.insta {
    color: #A0A0A0;
    font-weight: 700;
}
span.share {
    color: #A0A0A0;
}

i.fa.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
span.groupSocailMedia {
    margin-top: -8px;
}

share-button.sb-button.sb-default {
    margin-left: -5px;
}

@media (min-width:320px) and (max-width:767px){

span.groupSocailMedia {
    margin-top: 0px;
    margin-left: -7px;
    margin-bottom: -32px;
    float: none !important;
    display: inline-block;
}
span.share {
  font-size: 14px;
    color: #A0A0A0;
}

share-button.sb-button.sb-default {
    margin-left: -5px;
}


 }


.special-borders {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.installment {
  border-left: 1px solid silver;
}

.special-button {
  color: $txt-red;
  font-weight: normal;
}

.input-group-text {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
.btnGroupAddon {
  background-color: $bgc-red;
  color: white;
  border: none;
  .fa-angle-double-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.btn-lightgrey {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.color-picker-radio {
  position: relative;
  margin-left: 10px;
  #white {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    border: 1px solid grey;
    display: block;
  }
  #lightgrey {
    width: 25px;
    height: 25px;
    background: $bgc-lightgrey;
    border-radius: 50%;
    display: block;
  }
  #darkgrey {
    width: 25px;
    height: 25px;
    background: $bgc-grey;
    border-radius: 50%;
    display: block;
  }
  #black {
    width: 25px;
    height: 25px;
    background: black;
    border-radius: 50%;
    display: block;
  }
  #red {
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    display: block;
  }
  #darkgreen {
    width: 25px;
    height: 25px;
    background: rgb(60, 119, 0);
    border-radius: 50%;
    display: block;
  }
  #darkbrown {
    width: 25px;
    height: 25px;
    background: rgb(95, 23, 1);
    border-radius: 50%;
    display: block;
  }
  #darkblue {
    width: 25px;
    height: 25px;
    background: rgb(1, 100, 185);
    border-radius: 50%;
    display: block;
  }
  #purple {
    width: 25px;
    height: 25px;
    background: rgb(86, 0, 185);
    border-radius: 50%;
    display: block;
  }
  #pink {
    width: 25px;
    height: 25px;
    background: rgb(215, 3, 202);
    border-radius: 50%;
    display: block;
  }
  #cream {
    width: 25px;
    height: 25px;
    background: rgb(245, 228, 199);
    border-radius: 50%;
    display: block;
  }
  #lightbrown {
    width: 25px;
    height: 25px;
    background: rgb(218, 111, 79);
    border-radius: 50%;
    display: block;
  }
  #lightblue {
    width: 25px;
    height: 25px;
    background: rgb(5, 224, 243);
    border-radius: 50%;
    display: block;
  }

  input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    &:checked {
      & + span {
        box-shadow: 0 2px 8px black;
      }
    }
  }
}

.cart-compare {
  padding-top: 20px;
  border-top: 1px solid silver;
  .compare-product {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.quanity-section {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding-top: 18px;
  padding-bottom: 16px;
  .quantity {
    border: 1px solid silver;
    color: $txt-grey;
    width: 100px;
    border-radius: 8px;
    padding-left: 5px;
    outline: none;
    margin-left: 10px;
  }
}

.features {
    margin-top: 20px;
    margin-bottom: -10px;
  // max-width:1280px;
  
  h5{
    text-transform: uppercase;
    @media (max-width: 480px) {
      // font-size: 28px !important;
    }
    // font-weight:bold;
  }
  table {
    width: 100%;
    tr {
      &.even {
        background:#efefef;
      }
      &.odd {
        background: $txt-white;
      }
      td {
        font-family: "dejavu_sansbook";
        font-weight: normal;
        padding-bottom: 10px;
        color: #666666;
        padding:5px 15px;
        text-transform: capitalize;
        @media (max-width: 992px) {
          padding-top: 5px;
          padding-bottom: 5px;
        }
        &:nth-child(1) {
          text-align: left;
          vertical-align: middle;
          font-weight: bold;
          // background: $bgc-lightgrey;
          // border: 1px solid silver;
          width: 35%;
          border-left: 0;
          @media (max-width: 992px) {
            text-align: left;
            padding-top: 5px;
            width: 50%;
          }
        }
        &:nth-child(2) {
          // border: 1px solid silver;
          border-right: 0;
          @media (max-width: 992px) {
            text-align: left;
          }
        }
        
        // &.spec-header {
        //   background: white;
        //   width: 25% !important;
        // }
        // &.spec-name {
        //   width: 25%;
        // }
      }
    }
  }
}

@media (max-width: 768px) {
  .center_video_title {
    margin-left: 0px; 
  }

  .video iframe {
    width: 100%;
    margin-left: 0px;
  }
  .video_wrapper{
    padding:0px;
    padding-left:15px;
    padding-right:15px;
    padding-top:0;      
  }

 .mobileVideo {
  display: none;
 }
 .mobileVideos {
  display: block;
}

.features {
    margin-top: 30px;
}

.video {
    padding: 0px;
    padding-top: 0px;
}

.mobileSections.col-lg-7 {
    margin-top: -15px;
}

.mobileSections.col-lg-12 {
    margin-top: -35px;
}



}


// .specifications-wrapper {
//   table {
//     margin: 0 !important;
//   }
//   th.specification-title {
//     width: 25%;
//     padding: 0 10px;
//   }
//   .spec_type_table td.spec_values {
//       padding: 0px;
//   }
//   td.spec-name, td.spec-value {
//     padding: 5px 15px;
//     font-size: 14px;
//   }

//   .spec_value_table {
//     td.spec-value {
//       width: 65%;
//       color: #676666;
//     }
//     td.spec-name {
//       color: #8e8e8e;
//       text-transform: capitalize;
//     }
//   }
//   .table th, .table td {
//     border: none;
//   }

//   tr.even {
//     background: lightgray;
//   }


// }

.view-all-spec {
  margin-top: 10px;
  @media (max-width: 500px) {
    text-align: center;
  }
  button {
    font-size: 20px;
    .fa-angle-double-down {
      font-size: 25px;
      margin-right: 3px;
      position: relative;
      top: 2px;
    }
  }
}

@media (max-width: 1199px) and (min-width: 991px) {
  .size {
    font-size: 13px;
  }
}


.ProductDetailscontainer {
  max-width: 1590px;
  width: 100%;
  padding-bottom: 80px;
  @media(max-width:767px) {
    padding-bottom: 15px !important;
  }
}

// .btn-darkred {
//   font-family: "dejavu_sansbook";
//   font-weight: normal;
//   @media (min-width: 1640px) {
//     font-size: 28px;
//     padding: 13px 25px;
//   }
//   @media (min-width: 1200px) and (max-width: 1639px) {
//     font-size: 22px;
//     padding: 10px 20px;
//   }
//   @media (max-width: 1199px) {
//     font-size: 18px;
//   }
// }

// h6{
//   font-weight: normal;
//   font-family: "dejavu_sansbook";
//   font-weight: bolder;
// }

.container {
  max-width: 100% !important;
  width: 100% !important;
}